.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    animation: spin 1s linear infinite;
    height: 10%;
    width: 10%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.allPokemon {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
}

.allPokemon li {
    flex-basis: 30%;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.allPokemon li.lastInRow {
    margin-right: auto;
    margin-left: auto;
}

.allPokemon li .pokemon {
    margin-bottom: -30px;
}

.types {
    text-align: center;
    margin-top: -15px;
}

.types .type1,
.types .type2 {
    height: 30px;
    width: 120px;
    margin: 0 5px;
}

.pageButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}